# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.gitattributes

# Other
.spyproject/
*.pyc
.ipynb_checkpoints
.DS_Store
.vscode
docs/index.md
docs/module-00-06_Contributing.md
docs/_build/
docs/_work/