# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.gitattributes

# Other
.spyproject/
*.pyc
.ipynb_checkpoints
.DS_Store
.vscode
docs/_build/
docs/_work
!docs/_build/module-04-01_Prosocial-RL-Exercises*
!docs/_build/solutions/*