# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.gitattributes

# Other
.spyproject/
*.pyc
.ipynb_checkpoints
.DS_Store
.vscode
content/_build/.doctrees
content/_build/jupyter_execute
content/_work